@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --black: #000;
    --white: #fff;
}
.dark{
    --black: #fff;
    --white: #000;
}


/* Header start */
header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
}
header .logo{
    position: relative;
    display: inline-flex;
    color: var(--black);
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.05em;
}
.righSide{
    display: flex;
}
.btns{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
.btns.menuToggle i{
    font-size: 2.5em;
}
.btns i{
    font-size: 1.5em;
    color: var(--black);
}
.btns i:nth-child(2){
    display: none;
}
.btns.active i:nth-child(2){
    display: block;
}
.btns.active i:nth-child(1){
    display: none ;
}
/* Header end */



/* Main start */
.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main video{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    object-fit: cover;
}
.mask{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    object-fit: cover;
    z-index: 2;
    user-select: none;
    mix-blend-mode: screen;
}
.main h1{
    position: relative;
    z-index: 3;
    font-size: 14vw;
    color: var(--white);
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}
.dark .mask{
    filter: invert(1);
    mix-blend-mode: multiply;
}
/*p{
    position: absolute;
    left: 100px;
    bottom: 40px;
    z-index: 4;
    font-weight: 500;
    font-size: 1.2em;
    color: var(--black);
}*/
/* Main end */



/* Navigation start */
.navigation{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    z-index: 4;
    transition: 0.5s;
}
.navigation.active{
    left: 0;
}
.navigation li{
    list-style: none;
}
.navigation li a{
    display: inline-flex;
    margin: 5px 0;
    font-size: 1.35em;
    text-decoration: none;
    color: var(--black);
    padding: 5px 20px;
    border-radius: 30px;
}
.navigation li a:hover{
    background-color: var(--black);
    color: var(--white);
}
/* Navigation end */



@media (max-width: 510px){
    header{
        padding: 20px 30px;
    }
}